

/*----------------------------
BIG TABLETS 1024-1200PX
---------------------------*/

@media only screen and (max-width:1200px){
.hero-text-box {
    width: 100%;
    padding: 0 2%;
}
    .row { padding: 0 2%; }
}



/*----------------------------
SMALL TABLETS- BIG TABLETS 768-1023PX
---------------------------*/

@media only screen and (max-width:1023px){
    body { font-size: 18px;}
    section { padding: 60px 0; }

    .longcopy {
        width: 80%;
    margin-left: 10%;
}
    .stepbox { margin-top: 10px; }
    .stepbox:last-child { margin-bottom: 10px; }    
    
    .workstep { margin-bottom: 40px; }
.workstep:last-of-type { margin-bottom: 60px; }
    
    .appscreen { width: 50%; }
    
    .iconsmall { width: 17px;
    margin-right: 5px; 
    }
    
    .cityfeat {font-size: 90%; }
    
    .planbox {
        width: 100%;
        margin-left: 0%;
    }
    .planprice { font-size: 250%; }
    
    .contact-form { width: 90%; }
}


/*----------------------------
SMALL PHONES- TABLETS 481-767PX
---------------------------*/

@media only screen and (max-width:767px) {
    body { font-size: 16px; }
    section { padding: 30px 0; }
    
    .row,
    .hero-text-box { padding: 0 4%; }
    
    .col { width: 100%; 
    margin: 0 0 4% 0;
    }
    
  .mainnav { display: none; }
    .mobileicon { display: inline-block;}
    
    .mainnav {  
  float: left;
    margin-top: 35px;
        margin-left: 25px;
    }
    
    .mainnav li {
        display: block;
    }
    
    .mainnav li a:link,
    .mainnav li a:visited {
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%;
    }
    
    .sticky .mainnav li a:link,
.sticky .mainnav li a:visited {
    padding: 10px 0;
}
    .sticky .mobileicon i {
        color: #555;
    }
    .sticky .mobileicon {
        margin-top: 10px;
    }

.sticky .mainnav {
    margin-top: 10px;
}
    
    .sticky.mobileicon {
        color: #000;
    }
    
    .h1 { font-size: 180%;}
    .h2 { font-size: 150%;}
    
    .longcopy {
        width: 100%;
    margin-left: 0%;
}
    .stepbox:first-child {
text-align: center;
    }
    .appscreen { width: 40%; }
    
    .workstep div {
        height: 40px;
        width: 40px;
        margin-right: 15px;
        padding: 4px;
        font-size: 120%;
    }
    
    .workstep { margin-bottom: 20px; }
.workstep:last-of-type { margin-bottom: 20px; }

.map {
    width: 100%;
    height: 300px;
        z-index: 0;
    position: relative;
}

.mapbox {
 width: 100%;
    height: auto;
    position: relative;
}
.formbox {
    position: relative;
       height: auto;
    padding: 30px 0;
    width: 100%;
    
}

    
}



/*----------------------------
SMALL PHONES 0-480PX
---------------------------*/

@media only screen and (max-width:480px){
    section { padding: 25px 0; }
    .contactform { width: 100%; }
}
